a.nav-title {
  font-family: Aileron, sans-serif;
  font-weight: normal;
  color: black;
  font-size: 50px;
  text-align: left;
  float:left;
}

#About {
  /*background: url('https://source.unsplash.com/GJ8ZQV7eGmU/1920x1080') no-repeat center center fixed;*/
  /*background: url('https://source.unsplash.com/ZIDL2-88SEI/1920x1080') no-repeat center center fixed;*/
  /*background: url('https://source.unsplash.com/gWI_AubesEQ/1920x1080') no-repeat center center fixed;*/
  background: url('https://source.unsplash.com/YA-DFlSzXBE/1920x1080') no-repeat center center fixed;
  background-image: url(./images/cristina.jpg) no repeat center center fixed;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  padding-top: 40px;
  padding-bottom: 40px;
}

#Contact {
  /*background: url('https://source.unsplash.com/GJ8ZQV7eGmU/1920x1080') no-repeat center center fixed;*/
  /*background: url('https://source.unsplash.com/ZIDL2-88SEI/1920x1080') no-repeat center center fixed;*/
  /*background: url('https://source.unsplash.com/gWI_AubesEQ/1920x1080') no-repeat center center fixed;*/
  background: url('https://source.unsplash.com/YA-DFlSzXBE/1920x1080') no-repeat center center fixed;
  background-image: url(./images/cristina.jpg) no repeat center center fixed;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  padding-top: 50px;
  padding-bottom: 270px;
}

.navbar-nav li {
  padding: 0 10px;
}

.navbar-nav li a {
  color: #000 !important;
  font-weight: 600;
  float: right;
  text-align:left;
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
  color: #adabab !important;
}
.fa-bars{
  color: #fff;
  font-size 30px !important;
}

.navbar-toggler{
  outline: none !important;
}
#services{
  padding: 80px 0;
}
.service-img{
  width: 100px;
  margin-top: 20px;
}
.services{
  padding: 20px;
}

.title::before{
  content: '';
  background: #25f;
  height: 5px;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  transform: translateY(45px);
}
.title::after{
  content: '';
  background: #25f;
  height: 10px;
  width: 50px;
  margin-left: auto;
  margin-right: auto;
  margin:bottom: 50px;
  display: block;
  transform: translateY(5px);
}

.geisel {
  padding-top: 10px;
  padding-bottom: 10px;
}

#Education {
  padding-bottom: 30px;
  padding-top: 20px;
}
#Project {
  background: #f8f9fa;
  padding-bottom: 30px;
  padding-top: 30px;
}
#Experience {
  background: #f8f9fa;
  padding-bottom: 30px;
  padding-top: 30px;
}
.Logos {
  max-width: 150px;
  max-height: 75px;
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.globalties {
  max-width: 200px;
  max-height: 300x;
}
.contactDec:hover {
  text-decoration: none;
}
/*.nav-bar {
  background-color: rgba(0,0,0,0);
}
a.nav-title {
  font-family: Aileron, sans-serif;
  font-weight: normal;
  color: black;
  font-size: 50px;
  text-align: left;
  float:left;
}
section.nav-bar{
	padding: 5px;
	border-bottom: 2px solid #000;
	background-color: white;
	margin: 5px;
  width: 100%;
}
ul.navbar-item{
  width: 100%;
  bottom: 0;
  right: 0;

}
a.nav-link{
  color: black;
	display: inline-block;
  padding: 0;
	margin: 0 2%;
}

li {
  list-style-type: none;
}
a{
  text-decoration: none;
}
*/
